body {overflow:auto;}
nav { top:0; width:100%; position:fixed !important; padding:10px;
    text-align:center; font-weight:bold;}
nav{
    top:0;
    background-color: #2D3E4F !important;
}
.collapse{
    background-color: #2D3E4F !important;
}
.navbar-collapse{
    bottom: -10px ;
}
.red-text{
    color: rgb(207, 64, 77);
}
.nav-stacked li a{
    color:  #FFF;
}
.nav-stacked li a:link  {
    color: #FFF;
    background-color: none !important;
}
.nav-stacked li a:visited  {
    color:#FFF;
    background-color: none !important;
}
.nav-stacked li a:hover{
    color: rgb(207, 64, 77);
    background-color: lightcoral !important;
}
.nav-stacked li a:active{
    color: #000;
}

section{
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    background-size:100% 100%;
}

@media screen and (min-width: 970px) {
   nav{

       bottom: -50px !important;
       padding-top: 13%;
   }
    nav h2{
        margin-bottom: 2em;
    }
}